@tailwind base;
@tailwind components;
@tailwind utilities;

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./icons.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar-explorer::-webkit-scrollbar {
    background-color: rgb(37 37 38);
    width: 16px;
    position: absolute;
    translate: 50% 0%;
}
.scrollbar-explorer::-webkit-scrollbar-corner {
    background-color: rgb(37 37 38);
}
.scrollbar-explorer::-webkit-scrollbar-thumb {
    background-color: #6e6868;
}

.scrollbar-editor::-webkit-scrollbar {
    background-color: rgb(30 30 30);
    width: 16px;
    position: absolute;
    translate: 50% 0%;
}
.scrollbar-editor::-webkit-scrollbar-corner {
    background-color: rgb(30 30 30);
}
.scrollbar-editor::-webkit-scrollbar-thumb {
    background-color: #979494;
}

/**
 * Text editor
 */
.line-container {
    counter-reset: lines;
}

#file-editor>div {
    white-space: nowrap;
}

.line-container>div {
    display: flex;
}
.line-container>div:before {
    color: #6f6f6f;
    counter-increment: lines 1;
    content: counter(lines);
    width: 100%;
    text-align: right;
    display: inline-block;
    margin-right: 1em;
    flex: 0 0 auto;
  }
  
.no-outline {
    outline: none !important;
}
.no-border {
    border: none !important;
}
